@page "{SessionId}"
@using SharpBatch.Tracking.Abstraction
@inject SharpBatch.Tracking.Abstraction.ISharpBatchTracking trackingProvider

@functions{

    [FromRoute]
    public Guid SessionId { get; set; }

    [BindProperty]
    public BatchTrackingModel BatchData { get; set; }

    public IActionResult OnGet()
    {
        BatchData = trackingProvider.GetDataOfSessionId(SessionId);

        return Page();

    }
}

@section Title{
    Tracking execution detail <small>@BatchData?.BatchName </small>
}
@section Breadcrumb{
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a asp-page="./Index">Tracking</a></li>
        <li>Execution</li>
    </ol>
}
    @if (BatchData != null)
    {
    <div class="col-sm-4">
        <Box>
            <BoxBody>
                <div class="row">
                    <div class="col-sm-3"><b>BatchName :</b></div>
                    <div class="col-sm-9">@BatchData.BatchName</div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><b>Session ID :</b></div>
                    <div class="col-sm-9">@BatchData.SessionId</div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><b>StartDate :</b></div>
                    <div class="col-sm-9">@BatchData.StartDate</div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><b>EndDate :</b></div>
                    <div class="col-sm-9">@BatchData.EndDate</div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><b>Pings :</b></div>
                    <div class="col-sm-9">
                        @if (BatchData.Pings != null)
                        {
                            foreach (var itmPing in BatchData.Pings.OrderByDescending(p => p).Take(5))
                            {
                            <text>@itmPing.ToString("HH:mm:ss")</text><br />
                            }
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><b>State :</b></div>
                    <div class="col-sm-9">@BatchData.State.ToString()</div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <b>Messages :</b><br />
                        @if (BatchData.Messages != null)
                        {
                            foreach (var itmMsg in BatchData.Messages)
                            {
                            <text>@itmMsg</text><br />
                            }
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <b>Exception :</b><br>
                        @if (BatchData.Ex != null)
                        {
                            foreach (var itmEx in BatchData.Ex)
                            {
                            <text>@itmEx.ToString()</text><br />
                            }
                        }
                    </div>
                </div>
            </BoxBody>
        </Box>
    </div>
    }

