@page "{status?}"
@using SharpBatch.Tracking.Abstraction
@inject SharpBatch.Tracking.Abstraction.ISharpBatchTracking trackingProvider


@functions{ 
    [FromRoute]
    public StatusEnum? status { get; set; }

    [BindProperty]
    public List<BatchTrackingModel> Data { get; set; }

    public IActionResult OnGet()
    {
        if (status.HasValue)
        {
            Data = trackingProvider.GetByStatus(status.Value);
        }
        else
        {
            Data = trackingProvider.GetAll();
        }

        return Page();
    }
}

@section Title{
    @{
        if (status == StatusEnum.Stopped)
        {
            <text>Completed</text>
        }
        else
        {
            <text>@status.ToString()</text>
    }
} Tracking List
}

<div class="row">
    <div class="col-md-8">
        <Box>
            @*<BoxHeader>
                    <BoxTitle>@status.ToString() Batch Tracking list</BoxTitle>
                </BoxHeader>*@
            <BoxBody>
                <div class="row">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Batch Name</th>
                                <th>Session ID</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Machine Name</th>
                                @{
        if (status == null)
        {
                                        <th>Status</th>
                                    }
    }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Data)
    {
                                <tr>
                                    <td><a asp-page="./BatchDetail" asp-route-BatchName="@item.BatchName" >@item.BatchName</a></td>
                                    <td><a asp-page="./BatchExecutionDetail" asp-route-SessionId="@item.SessionId">@item.SessionId</a></td>
                                    <td>@item.StartDate</td>
                                    <td>@item.EndDate</td>
                                    <td>@item.MachineName</td>
                                    @if(status == null)
                                    {
                                        <td>@item.State.ToString()</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </BoxBody>
        </Box>
    </div>
</div>